body {
  font-family: "Oswald";
}

h1 {
  font-size: 300%;
}

.center {
    word-break: break-all;
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
}
.center2 {
    word-break: break-all;
    text-align: left;
    padding-right: 10%;
    padding-left: 10%;
    font-family: "Inconsolata";
    padding: 10px;
    background-color: WhiteSmoke;
}
.styledblack {
    background-color: black;
    color: white;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 0px;
    height: 34px;
    appearance: none;
    border-color: black;
    margin: 10px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 60%;
}

.styled {
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 0px;
  height: 34px;
  appearance: none;
  border-color: black;
  margin: 10px;
}
